<mat-drawer-container
  [autosize]="true"
  class="bg-rose-200 min-h-full max-w-7xl mx-auto border-x"
>
  <mat-drawer mode="side" opened class="p-6">
    <app-filters (showCategory)="onShowCategory($event)"></app-filters>
  </mat-drawer>
  <mat-drawer-content class="p-6">
    <app-products-header
      (columnsCountChange)="onColumnsCountChange($event)"
     
    ></app-products-header>
    <h2> My Products</h2>
    <mat-grid-list
     gutterSize="16"
      [cols]="cols"
      [rowHeight]="rowHeight">
      <mat-grid-tile>
        
        <app-product-box  *ngFor="let product of product"
        (addToCart)="onAddToCart($event)"
          class="w-full"
          [fullWidthMode]="cols === 1"></app-product-box>
       
      </mat-grid-tile>
      
    </mat-grid-list> 
  </mat-drawer-content>
</mat-drawer-container>